body {
    font-family: 'Cabin', sans-serif;
    background: #C0C0C0;
    color: #505050;
    min-height: 100vh;
    margin: 0;
    padding: 0
}

.wrapper {
    width: 1220px;
    background: #f6f6f6;
    font-size: 18px;
    box-shadow: 0 0 10px #505050;
    margin: 20px auto;
    
}